.Footer {
    padding-top: 70px;
    background: linear-gradient(180deg,#042B67,#0D205D);

}
.FootContain{
    max-width: var(--max-width);
    margin: 0px auto;
}

.LogoCont{
    display: flex;
    justify-content: flex-end;
    padding-bottom: 30px;
}

.CopyCnt {
    padding: 10px 0px;
    border-top: 1px solid #FFF;
    color: #FFF;
}

@media (max-width: 536px) {
    .Footer {
        padding-top: 40px;
    }
    .LogoCont {
        justify-content: center;
        align-items: center;
    }
    .CopyCnt {
        display: none;
    }
}